
# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
/hack/.test-cmd-auth

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# This is where the result of the go build goes
/output*/
/_output*/
/_output

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go

### Intellij-based IDES ###
.idea/
*.iml

### VisualStudioCode ###
vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### direnv ###
.envrc

### make ###
# make-related metadata
/.make/
bin/